.navegador{
    background-color: map-get($colores, colorNegro);
    a{
        color: map-get($colores, colorBlanco);
        &:hover{color: map-get($colores, colorSeleccion);}
        h1{
            font-size: 3em;
        }
    }
    button{
        background-color: map-get($colores, colorBlanco);
    }
}

@media (min-width:768px){
    .navegador{
        height: 115px;
        a{
            h1{
                margin-left: 50px;
            }
        }
        .navHamburguesa{
            display: flex;
            justify-content: end;
            margin-right: 50px;
            a{
                margin: 0 5px;
                font-size: 1.3em;
            }
        }
    }
}