$colores:(
    colorBlanco: white,
    colorNegro: black,
    colorSeleccion: rgb(123, 118, 118),
    colorBotonPrimario: rgb(106, 106, 185),
    colorBotonSecundario: rgb(63, 63, 94)
);
@mixin tamanoImagenes($ancho,$alto){
    width: $ancho;
    height: $alto;
}

.navegador{
    background-color: map-get($colores, colorNegro);
    a{
        color: map-get($colores, colorBlanco);
        &:hover{color: map-get($colores, colorSeleccion);}
        h1{
            font-size: 3em;
        }
    }
    button{
        background-color: map-get($colores, colorBlanco);
    }
}
.centrado h2{
    animation-duration: 2s;
    animation-name: aparece;
}
@keyframes aparece{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.piePagina{
    background-color: map-get($colores, colorNegro);
    display: flex;
    text-align: center;
    justify-content: center;
    p{
        color: map-get($colores, colorBlanco);
        font-size: 1.2em;
    }
}
.mainNosotros{
    @extend .contenedorCarta;
}
.nuestraHistoria{
    .primerTexto{
        padding: 0 80px;
        margin: 30px 0;
        font-size: 1.1;
        font-weight: bold;
    }
    div{
        padding: 30px;
        img{
            width: 80%;
            border: 2px solid map-get($colores, colorNegro);
            border-radius: 5px;
            padding: 0;
        }
        p{
            margin: 30px 10px 10px 10px;
        }
    }
}

.contenedorCarta{
    position: relative;
    display: inline-block;
        img{
            width: 100%;
        }
        h2{
            font-size: 1.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: map-get($colores, colorBlanco);
            text-shadow: 0 0 0.5em map-get($colores, colorNegro);
        }
    }

.contenedorVideos{
    iframe{
        margin: 10px 0;
    }
}

.formulario{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px dotted map-get($colores, colorNegro);
        .botonEnviar{
            margin-top: 20px;
            background-color: map-get($colores, colorBotonPrimario);
            &:hover{
                background-color: map-get($colores, colorBotonSecundario);
            }
        }
    }
}

.redesContacto{
    a{
        margin: 10px 10px;
    }
}

@media (min-width:768px){
.navegador{
    height: 115px;
    a{
        h1{
            margin-left: 50px;
        }
    }
    .navHamburguesa{
        display: flex;
        justify-content: end;
        margin-right: 50px;
        a{
            margin: 0 5px;
            font-size: 1.3em;
        }
    }
}

.segundoItemHistoria{
    display: flex;
    flex-direction: row-reverse;
}
.contenedor{
    position: relative;
    display: inline-block;
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: map-get($colores, colorBlanco);
        width: 25%;
        height: 60%;
        border-radius: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-duration: 2s;
        animation-name: agrandar;
        h2{
            color: map-get($colores, colorNegro);
            font-size: 180%;
            animation-duration: 2s;
            animation-name: agrandarLetra;
        }
    }
}

@keyframes agrandar{
    0%{
        width: 0%;
        height: 0%;
    }
    100%{
        width: 25%;
        height: 60%;
    }
}
@keyframes agrandarLetra{
    0%{
        font-size: 0;
    }
    100%{
        font-size: 180%;
    }
}

.nuestraHistoria{
    div{
        padding: 30px;
        img{
            @include tamanoImagenes(400px,400px);
            border: 2px solid map-get($colores, colorNegro);
            border-radius: 5px;
            padding: 0;
        }
        p{
            margin: 30px 10px 10px 10px;
        }
    }
}

.contenedorCarta{
    img{
        width: 1440px;
    }
    h2{
        font-size: 2em;
    }
}

.contenedorVideos iframe:hover{
    height: 370px;
    width: 400px;
}
.contenedorVideos iframe{
    transition: all 2s;
}
}

.redesContacto{
    a{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:992px){
    .nuestraHistoria{
        div{
            p{
                font-size: 1.3em;
                margin: 30px 10px 10px 10px;
            }
        }
    }
}