*{
    margin: 0;
    padding: 0;
}

/* css de index, header y footer*/

.cabecera{
width: 100%;
background-color: black;
}
h1{
    font-size: 5em;
    color: white;
    padding: 10px 0 0 20px;
    display: inline;
}
.cabecera__menu{
    display: inline;
}
.principal img{
    width: 100%;
}
.pie_pagina{
    background-color: black;
    padding: 40px 0;
}
.pie_pagina p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

/* Css de nosotros*/

.principal_historia h2{
    text-align: center;
    font-size: 2em;
}

.principal_historia p{
    font-style: italic;
    font-size: 1.3em;
}

.principal_historia p::first-letter{
    font-weight: bold;
    font-size: 1.6em;
}

/* css de servicios*/

.navegacion_servicios{
    margin: 0 0 40px 0;
}

.navegacion_servicios a{
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

/* css de carta*/

.carta h3{
    font-size: 1.3em;
    font-weight: bold;
}

/* css de contacto*/

.principal_contacto{
    text-align: center;
}

.principal_contacto iframe{
    width: 80%;
    margin: 10px 95px;
}

.principal_contacto .iconos img{
    margin: 0 25px;
}