.contenedorVideos{
    iframe{
        margin: 10px 0;
    }
}

.formulario{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px dotted map-get($colores, colorNegro);
        .botonEnviar{
            margin-top: 20px;
            background-color: map-get($colores, colorBotonPrimario);
            &:hover{
                background-color: map-get($colores, colorBotonSecundario);
            }
        }
    }
}

@media (min-width:768px){
    .contenedorVideos iframe:hover{
        height: 370px;
        width: 400px;
    }
    .contenedorVideos iframe{
        transition: all 2s;
    }
}